<h3>Available movies:</h3>
<div *ngIf="!movieRequest.error">
    <div class="d-flex justify-content-center" *ngIf="!loadingFinished">
        <div class="spinner-border text-primary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngIf="loadingFinished">
        <div class="row">
            <div class="border rounded bg-light m-3 p-3" *ngFor="let genre of genresList" (click)="loadGenreMovies(genre)">
                <fa-layers [fixedWidth]="true" size="3x">
                    <fa-icon [icon]="['fas', utilitiesService.getGenreIcon(genre.value)]"
                        [ngClass]="{'text-secondary': !genre.selected, 'text-primary': genre.selected}"></fa-icon>
                    <fa-layers-counter *ngIf="genre.selected" content="{{genreMovies.length}}"
                        [styles]="{'color': 'gray', 'background': 'white'}"></fa-layers-counter>
                </fa-layers>
                <h6 class="text-center m-0" [ngClass]="{'text-secondary': !genre.selected, 'text-primary': genre.selected}">{{genre.value}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 mb-3" *ngFor="let movie of pageMovies" [routerLink]="['/movie', movie.id]">
                <div class="card cover-container">
                    <img class="card-img cover-image" src="{{movie.cover}}" alt="{{movie.name}}">
                    <div class="cover-content">
                        <div class="cover-text">
                            <h6>{{movie.name}}</h6>
                            <span class="badge badge-light">{{movie.genre}}</span>
                            <br>
                            <span class="badge badge-dark">{{movie.score}}/10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ngb-pagination [collectionSize]="genreMovies.length" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="5"
            [rotate]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>
<div *ngIf="movieRequest.error">
    <div class="alert alert-danger" role="alert">
        {{movieRequest.message}}
    </div>
</div>