/* You can add global styles to this file, and also import other style files */

/* Margin and padding */
.mt-80 {
    margin-top: 80px;
}

/* Position */
.center-list {
    display: flex;
    justify-content: center;
}

.bottom-object {
    position: absolute;
    bottom: 0px;
}

/* Effects */
.pointer-cursor {
    cursor: pointer;
}